#welcome_subnote{
	font-style:italic;
	margin-left: 600px;
	margin-top: -10px;
}

.myslides{
	height:300px;
	width:970px;
	margin-left:auto;
	margin-right:auto
}

#slideImg{
	height:300px;
	width:970px;
	border-style:solid;
	border-width:3px;
	border-color:#ccc;
	border-radius:10px;
	position:fixed;
}

#searchTable{
    background-color:#eee;
    width:970px;
    border: 3px solid #ccc;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
}

#searchTable td{
    vertical-align:top;
}