#welcome_subnote{
	font-style:italic;
	margin-left: 800px;
	margin-top: -10px;
}

#profileImg{
	width:200px
}

#agentProfile{
	width:250px;
	display:inline-block;
	padding:20px;
	border:solid;
	border-color:#ccc;
	border-width:3px;
	margin-left:auto;
	margin-right:auto;
}