#welcome_subnote{
	font-style:italic;
	margin-left: 600px;
	margin-top: -10px;
}

#profileImg{
	width:200px;
	border-style:solid;
	border-width:3px;
	border-color:#ccc;
	border-radius:10px;
}

#agentProfile{
	width:250px;
	display:inline-block;
	padding:25px;
	margin:10px;
	border:solid;
	border-color:#ccc;
	border-width:3px;
	border-radius:10px;
}

.myslides{
	height:300px;
	width:970px;
	margin-left:auto;
	margin-right:auto
}

#slideImg{
	height:300px;
	width:970px;
	border-style:solid;
	border-width:3px;
	border-color:#ccc;
	border-radius:10px;
	position:fixed;
}