#main_nav{
	margin-left:550px;
	margin-top: -50px;
}

#main_nav li{
	float:left;
	list-style-type:none
}

#main_nav li a{
	font-size:16px;
	color:#000;
	text-decoration:none;
	padding:8px 15px
}

#main_nav li a.active,#main_nav li a:hover{
	background-color:#bbb
}

#main_nav li a{
	background-color:#ddd
}