#navigation{
	width:100%
}

#main_nav{
	margin: 0; 
	padding: 5px;
	list-style-type: none; 
	text-align: center; 
	background-color:#cccccc;
}

#main_nav li{
	display:inline;
}

#main_nav li a{
	font-size:16px;
	color:#000;
	text-decoration:none;
	padding:5px 15px
}

#main_nav li a.active,#main_nav li a:hover{
	background-color:#aaaaaa;
}

#main_nav li a{
	background-color:#ccc
}