body{
	margin:0;
	height:100%;
	background-color:#eee;
	font-family:"Times New Roman",Times,serif
}

#content{
	width:1300px;
	min-height:75%;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto
}

#callUs{
	font-style:italic;
	margin-left:1000px;
	margin-top:-100px
}

#sub_content{
	width:1300px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	border: #ccc;
	border-width: 2px;
	border-left-style:solid;
	border-right-style:solid;
}

#header_frame{
	width:100%;
	padding-top:1px;
	background-image: -ms-linear-gradient(top, #999999 0%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(top, #999999 0%, #EEEEEE 100%);
	background-image: -o-linear-gradient(top, #999999 0%, #EEEEEE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(1, #EEEEEE));
	background-image: -webkit-linear-gradient(top, #999999 0%, #EEEEEE 100%);
	background-image: linear-gradient(to bottom, #999999 0%, #EEEEEE 100%);
}

#header_content{
	height:100px;
	width:1300px;
	margin-left:auto;
	margin-right:auto
}

#subnote{
	font-style:italic;
	margin-left:100px;
	margin-top:-5px
}

#footer{
	background-image: -ms-linear-gradient(bottom, #999999 0%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(bottom, #999999 0%, #EEEEEE 100%);
	background-image: -o-linear-gradient(bottom, #999999 0%, #EEEEEE 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #999999), color-stop(1, #EEEEEE));
	background-image: -webkit-linear-gradient(bottom, #999999 0%, #EEEEEE 100%);
	background-image: linear-gradient(to top, #999999 0%, #EEEEEE 100%);
	position:absolute;
	width:100%;
	height:100px
}